<ion-content>
    <div class="abonnementer-top-container">
        <!-- user og notification icons -->
        <div class="user-icon-bg">
          <ion-icon name="person-outline" color=""></ion-icon>
        </div>
        <h1>
          <!-- {{ username }} -->
        </h1>
        <div class="notification-icon-bg">
          <ion-icon name="notifications-outline" size="" color=""></ion-icon>
        </div>
      </div>

      <div class="forside-header-text">
        <div *ngIf="user">
          <p>Welcome, {{ user.displayName || user.email }}!</p>
        </div>
      </div>


    <div class="forside-din-oversigt">
        <h1 color="primary" class="ion-text-uppercase">Din oversigt</h1>
    </div>

    <ion-grid class="forside-din-oversigt-ion-grid ion-margin">
      <ion-row class="forside-din-oversigt-ion-row">
          <ion-col size="4">
              <p>Total Måned</p>
              <p>89,-</p>
          </ion-col>
          <ion-col size="4">
              <p>Total Kvartal</p>
              <p>59,-</p>
          </ion-col>
          <ion-col size="4">
              <p>Total Årlig</p>
              <p>699,-</p>
          </ion-col>
      </ion-row>
    </ion-grid>
    
      <div class="dine-abonnementer-section">
        <h2 class="ion-text-uppercase ion-margin-start">Dine abonnementer</h2>
      </div>
<!--Testkode her 44-50-->
    <ion-grid class="ion-margin-start ion-margin-end ion-margin-top" *ngFor="let subscription of subscriptions">
      <ion-row class="abonnement-boks ion-align-items-center backgroundrow ion-margin-top">
        <ion-col class="abonnementkort-et" size="3">
          <p>img</p>
        </ion-col>
        <ion-col class="abonnementkort-to" size="6">
          <p class="ion-text-right">{{ subscription.title }}</p>
        </ion-col>
        <ion-col class="abonnementkort-tre" size="3">
          <p class="Pricebigger ion-text-end">{{ subscription.payment.price }},-</p>
          <p class="intervalsmall ion-text-end">{{ subscription.payment.cycle }}</p>
        </ion-col>
      </ion-row>
      
      <!--Ion-modal-->
      <ion-row>
        <ion-col size="12" class="modal-knap-col ion-text-right">
          <ion-button class="modal-knap ion-no-padding" fill="clear" size="small" (click)="setOpen(true, subscription)">Flere detaljer</ion-button>
        </ion-col> 
      </ion-row>

      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="modal-tilbage-pil" (click)="setOpen(false)">
                <ion-icon size="large" slot="start" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <ion-content class="ion-padding-start ion-padding-end">
            <ion-grid>
              <ion-row class="abonnement-oplysninger">
                <ion-col size="8">
                  <h2>{{ selectedSubscription.title }} {{ selectedSubscription.subscriptionplan }}</h2>
                  <p class="payment-price-big">{{ selectedSubscription.payment.price }} kr.</p>
                  <p class="abonnement-modal-tekst">Tilmeldt: {{ selectedSubscription.startdate | date: 'dd-MM-yyyy' }}</p>
                  <p class="abonnement-modal-tekst">Næste betaling: {{ selectedSubscription.payment.nextpayment | date: 'dd-MM-yyyy' }}</p>
                </ion-col>
                <ion-col size="4">
                  img
                </ion-col>
              </ion-row>

              <ion-row class="">
                <ion-col size="7" class="abonnement-modal-knapper">
                  <ion-button class="abonnement-modal-knap-ekstra" fill="clear" size="" (click)="AlertsetOpen()">
                    <ion-icon slot="start" size="large" name="close-circle-outline"></ion-icon>
                    Opsig abonnement
                  </ion-button>
                  
                  <ion-button fill="clear" size="">
                    <ion-icon slot="start" size="large" name="create-outline"></ion-icon>
                    Rediger abonnement
                  </ion-button>

                  <ion-button fill="clear" size="">
                    <ion-icon slot="start" size="large" name="reader-outline"></ion-icon>
                    Vis lignende abonnementer
                  </ion-button>
                </ion-col>
              </ion-row>

              <hr class="line-border">

              <ion-row class="modal-detaljer">
                <ion-col size="12">
                  <h2>Detaljer</h2>
                </ion-col>
                <ion-col size="6">
                  <p class="modal-detaljer-p-left-ekstra">Gentagende</p>
                </ion-col>
                <ion-col size="6">
                  <p class="modal-detaljer-p-right-ekstra ion-text-right">{{ selectedSubscription.payment.cycle }}</p>
                </ion-col>
                <ion-col size="6">
                  <p class="modal-detaljer-p-left">Månedligt gennemsnit</p>
                </ion-col>
                <ion-col size="6">
                  <p class="modal-detaljer-p-right ion-text-right">{{ selectedSubscription.payment.price }} kr.</p>
                </ion-col>
                <ion-col size="6">
                  <p class="modal-detaljer-p-left">Årligt gennemsnit</p>
                </ion-col>
                <ion-col size="6">
                  <p class="modal-detaljer-p-right ion-text-right">1500 kr.</p>
                </ion-col>
              </ion-row>

              <hr class="line-border">

              <ion-row class="modal-kort">
                <ion-col size="12">
                  <h2>Kort</h2>
                </ion-col>
                <ion-col size="6">
                  <p>Visa/Debit</p>
                </ion-col>
                <ion-col size="6">
                  <p class="ion-text-right modal-kort-tyk">... 5329</p>
                </ion-col>
              </ion-row>

              <hr class="line-border">

              <ion-row class="modal-seneste-betalinger ion-align-items-center">
                <ion-col size="12">
                  <h2>Seneste betalinger</h2>
                </ion-col>
                <ion-col size="2">
                  <p>img</p>
                </ion-col>
                <ion-col class="" size="5">
                  <p class="modal-seneste-title">{{ selectedSubscription.title }} {{ selectedSubscription.subscriptionplan }}</p>
                  <p class="modal-seneste-indbetaling">05-05-2023</p>
                </ion-col>
                <ion-col size="5">
                  <p class="modal-senest-pris ion-text-right">{{ selectedSubscription.payment.price }} kr.</p>
                </ion-col>

                <ion-col size="12">
                </ion-col>
                <ion-col size="2">
                  <p>img</p>
                </ion-col>
                <ion-col class="" size="5">
                  <p class="modal-seneste-title">{{ selectedSubscription.title }} {{ selectedSubscription.subscriptionplan }}</p>
                  <p class="modal-seneste-indbetaling">05-04-2023</p>
                </ion-col>
                <ion-col size="5">
                  <p class="modal-senest-pris ion-text-right">{{ selectedSubscription.payment.price }} kr.</p>
                </ion-col>
                <ion-col size="12">

                </ion-col>
                <ion-col size="2">
                  <p>img</p>
                </ion-col>
                <ion-col class="" size="5">
                  <p class="modal-seneste-title">{{ selectedSubscription.title }} {{ selectedSubscription.subscriptionplan }}</p>
                  <p class="modal-seneste-indbetaling">06-03-2023</p>
                </ion-col>
                <ion-col size="5">
                  <p class="modal-senest-pris ion-text-right">{{ selectedSubscription.payment.price }} kr.</p>
                </ion-col>
                <ion-col class="ion-text-center" size="12">
                  <ion-button class="modal-seneste-knap ion-margin-top ion-margin-bottom" shape="round">Vis alle</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>

            <!--
      <ion-col size="12">
        <h2 class="ion-text-uppercase">{{ subscription.title }}</h2>
        <p>Start dato: {{ subscription.startdate }}</p>
        <p>Kategori: {{ subscription.category }}</p>
        <p>abonnementplan: {{ subscription.subscriptionplan }}</p>
        
        <div>
          <p>Pris: {{ subscription.payment.price }}</p>
          <p>Næste betaling: {{ subscription.payment.nextpayment | date: 'yyyy-MM-dd' }}</p>
          <p>Cyklus: {{ subscription.payment.cycle }}</p>
        </div>
        
        <ion-button color="danger" (click)="onDeleteButtonClick(subscription.subscription_id)">
          Delete
        </ion-button>
      </ion-col>
      -->
 
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2 class="ion-text-uppercase">Bank wrapped</h2>
          <ion-card class="bank-wrapped-card">
            <ion-img class="bank-wrapped-logo-image ion-margin-top ion-margin-start" src="assets/images/logo.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="bank-wrapped-card-title">Bank Wrapped</ion-card-title>
            </ion-card-header>
          
            <ion-card-content class="card-content-tekst">Tryk for at se din wrapped for det nye år</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <!--Aktive tilbud section-->
      <ion-row>
        <ion-col size="12">
          <h2 class="ion-text-uppercase">Aktive tilbud</h2>
          <ion-card class="viaplay-card">
            <ion-img class="viaplay-logo-image ion-margin-top ion-margin-start" src="assets/images/Viaplay.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="viaplay-card-title">10% rabat</ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-content-tekst">Læs mere</ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="disney-card">
            <ion-img class="disney-logo-image ion-margin-top ion-margin-start" src="assets/images/disney.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="disney-card-title">Graits oprettelse</ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-content-tekst">Læs mere</ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="spotify-card">
            <ion-img class="spotify-logo-image ion-margin-top ion-margin-start" src="assets/images/spotify.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="spotify-card-title">3 mnd. 99,-</ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-content-tekst">Læs mere</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

      
</ion-content>
