ion-input{
    --placeholder-color: rgb(0, 0, 0);
}

h1{
    font-weight: bold;
}

.h1ryk{
    margin-top: 200px;
}

p{
    font-size: 12px;
}

ion-button{
    --border-radius: 15px;
}

.logindbruger{
    color: #00619A;
    font-weight: bold;
    text-decoration: underline;
}

.buttonned{
    margin-top: 125px;
    font-weight: 600;
}