<ion-content>
  <div class="abonnementer-top-container">
    <!-- user og notification icons -->
    <div class="user-icon-bg">
      <ion-icon name="person-outline" color=""></ion-icon>
    </div>
    <h1>
      <!-- {{ username }} -->
    </h1>
    <div class="notification-icon-bg">
      <ion-icon name="notifications-outline" size="" color=""></ion-icon>
    </div>
  </div>

  <!-- add sub below  from chatgpt https://chat.openai.com/share/a4038f3c-5a2b-4fc0-8f57-6d5bd94ed967-->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
      </ion-buttons>
      <ion-content>
        <ion-title>Tilføj abonnement</ion-title>
        <ion-list>


          <!-- create subscription category -->
          <ion-item>
            <ion-select [(ngModel)]="subscription.category" label="Kategori" placeholder=" vælg kategori">
              <ion-select-option value="Streamingtjeneste">Streamingtjeneste</ion-select-option>
              <ion-select-option value="Fitness">Fitness</ion-select-option>
              <ion-select-option value="El">El</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- create subscription price -->
          <ion-item>
                <ion-input [(ngModel)]="subscription.price" label="Pris" placeholder="tap for at taste pris"></ion-input>
          </ion-item>


          <!-- create subscription cycle -->
          <ion-item>
            <ion-select [(ngModel)]="subscription.cycle" label="Cyclus" placeholder="Vælg cyclys">
              <ion-select-option value="Månedligt">Månedlig</ion-select-option>
              <ion-select-option value="Kvartallet">Kvartal</ion-select-option>
              <ion-select-option value="Årligt">Årlig</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
        <ion-button (click)="saveSelectedOption()">Færdiggør</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- the created subscription displayed -->
<ion-list>
  <ion-label> {{ subscription.category }} </ion-label>
  <ion-label> {{ subscription.price }} </ion-label>
  <ion-label> {{ subscription.cycle }} </ion-label>
</ion-list>





<!-- button for adding sub -->
  <div class="tilføj-abonnement">
    <ion-button expand="block" (click)="openModal()">Tilføj abonnement</ion-button>
  </div>

 </ion-content>
