<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <p class="paragrafmargin">Velkommen til</p>
          <ion-img src="assets/images/logo.png"></ion-img>
          <p class="overblik ion-text-center">Mangler du et overblik af dine abonnementer?</p>
          <ion-button class="buttonned ion-padding" type="submit" expand="block" color="primary">opret bruger</ion-button>

          <p class="ion-text-center ikkebruger">Har du allerede en bruger? <span class="logindbruger ion-text-uppercase">Log ind</span></p>
          

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
