<!--ion-photo - add a photo-->
<ion-content class="minprofil-top-section">
  <div class="minprofil-fab">
    <ion-fab class="minprofil-ion-fab"vertical="top" horizontal="center">
      <ion-fab-button (click)="addPhotoToGallery() "class="ion-padding" color="secondary">
      <ion-icon name="camera" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
    

<!-- ion-fab markup -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
 </ion-content>

<!--ion-photo - delete a photo--> 


  <ion-content class="minprofil-top-middle">
    <div class="minprofil-title">
      <h3>
        Hannah Phoebe Ejada Clausen
        <ion-icon class="edit-icon" name="create-outline"></ion-icon>
      </h3>
  </div>
    <div class="minprofil-email">
      <p>
        fornavnefternavn&#64;gmail.com
      </p>
    </div>




</ion-content>




<!--
<ion-content class="minprofil-top-section">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
    <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    </ion-fab>
    <h3>
      Hannah Phoebe Ejada Clausen
      <ion-icon class="edit-icon" name="create-outline"></ion-icon>
    </h3>

  <div class="minprofil-email">
    <p>
      fornavnefternavn&#64;gmail.com
    </p>
  </div>

</ion-content>

-->

  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> 
      <ion-button (click)="logout()">Logout</ion-button>
</ion-content>


